$primary-color: #6FAE1D;
$secondary-color: #E58D51;
$white: #FFFFFF;
$off-white: #F5F5F5;
$grey: #666666;
$dark: #2A2A2A;

$muted-background: rgba(0, 0, 0, 0.5);

$modal-shadow: 2px 2px 20px 1px;
$shadow-bottom: 0 5px 10px rgba(0, 0, 0, 0.1);

$phone: 768px;